%h1= @package.name
%div
  -@package_versions.each do |version|
    %h2 Version: #{version.version}
    %div
      %p
        %strong Title: 
        = version.title
      %p
        %strong Description:
        = version.description
      %p
        %strong Publication date:
        = version.publication_date.strftime("%d-%m-%Y %I:%M:%S")
      %p
        %strong Authors:
        - version.authors.each do |author|
          = author.name
      %p
        %strong Maintainer:
        = version.maintainer.name
        = version.maintainer.email
      %p
        %a{href:"http://cran.r-project.org/src/contrib/#{@package.name}_#{version.version}.tar.gz"} Get package
